@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Bienvenido</h1>
    <p>Ingrese los 16 digitos de su tarjeta de débito</a>.</p>
</div>
<div class="container">
    <input class="form-control form-control-lg"  id="numeroTarjeta" type="number" placeholder="0000-0000-0000-0000" aria-label="N° tarjeta">
    <input type="submit" value="Validate" onclick="return validarNroTarjeta()" />
</div>

